header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title, .instructions {
  color: darksalmon;
}

.palette_container {
  display: flex;
}

article {
  height: 400px;
  width: 300px;
}

.palette_1 {
  background-color: burlywood;
}
.palette_2 {
  background-color: wheat;
}
.palette_3 {
  background-color: bisque;
}
.palette_4 {
  background-color: burlywood;
}
.palette_5 {
  background-color: blanchedalmond;
}

.projects_container {
  height: 200px;
}

.toggleButtonStyle {
  color: red;
}

footer, .save_palette_form, .save_project_form {
  display: flex;
  justify-content: center;
  align-items: center;
}